<?xml version='1.0'?>
<settings>
	<guild name="Bot Testing Ground" id="702976135301955649"/>
	<judgeRole name="Judge" id="833676299192107008"/>
	<tournAdminRole name="Tournament Admin" id="833676108162400277"/>
	<pairingsChannel name="None" id="None"/>
	<VCCatergory name="Matches" id="833677450692657203"/>
	<standingsChannel name="None" id="None"/>
	<tournType default="Swiss"/>
	<properties format="None" deck-count="None" match-length="None" match-size="None" pairings-channel="None" tricebot-enabled="None" spectators-allowed="None" spectators-need-password="None" spectators-can-chat="None" spectators-can-see-hands="None" only-registered="None" player-deck-verification="None" />
</settings>
